<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/logo.png">
    <title>kokonut</title>
  </head>
  
  <body>
    <h1>Hi there!</h1>
  </body>
</html>