<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href=<%= avatar %>>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>kokonut - Projects</title>

    <meta content="kokonut - Projects" property="og:title" />
    <meta content="Hobbyist Full-stack developer | View my projects" property="og:description" />
    <meta content="https://kokonut.vercel.app/projects" property="og:url" />
		<meta property="og:type" content="website" />
    <meta content=<%= avatar %> property="og:image" />
    <meta id="embed-color" content="#111" data-react-helmet="true" name="theme-color" />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <a href="/" title="Home"><img src=<%= avatar %> class="logo" alt="logo" width="50" height="50"></a>
        <a href="/" title="Home"><i class="fa-solid fa-house-user fa-2x"></i></a>
        <a href="/about" title="About"><i class="fa-solid fa-user fa-2x"></i></a>
        <a href="/projects" title="Projects"><i class="fa-solid fa-book fa-2x"></i></a>
        <a href="/proficiencies" title="Proficiencies"><i class="fa-solid fa-chart-column fa-2x"></i></a>
        <a href="/socials" title="Socials"><i class="fa-solid fa-share-nodes fa-2x"></i></a>
      </div>
    </nav>
  
    <div class="content">
      <div>
        <h1>Projects</h1>
        <p>These are projects that I have either contributed to, or maintain.</p>
        <div class="projects">
          <!-- add boxes with projects inside, use animations -->
          <div class="project-padding">
            <div class="project">
              <div class="project-content">
                <div>
                  <div class="project-title">
                    <h2>Git-API</h2>
                  </div>
                  <div class="project-text">
                    <p>An API module coded in Python that wraps around GitHub's official API and returns data in JSON form.</p>
                  </div>
                </div>
              </div>
              <div class="button">
                <a href="https://github.com/kokonut27/Git-API"><input type="button" value="GitHub" class="project-button"></a>
              </div>
            </div>
          </div>

          <div class="project-padding">
            <div class="project">
              <div class="project-content">
                <div>
                  <div class="project-title">
                    <h2>Repl-API</h2>
                  </div>
                  <div class="project-text">
                    <p>An API package written in NodeJS that posts GraphQL queries and mutations and returns Replit data in JSON form.</p>
                  </div>
                </div>
              </div>
              <div class="button">
                <a href="https://github.com/kokonut27/repl-api"><input type="button" value="GitHub" class="project-button"></a>
              </div>
            </div>
          </div>

          <div class="project-padding">
            <div class="project">
              <div class="project-content">
                <div>
                  <div class="project-title">
                    <h2>Replitdge</h2>
                  </div>
                  <div class="project-text">
                    <p>An API written in NodeJS that retrieves Replit user data and returns the data in badge form.</p>
                  </div>
                </div>
              </div>
              <div class="button">
                <a href="https://replitge.vercel.app/"><input type="button" value="Website" class="project-button"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('footer') %>
    </div>
    <script src="/animation.js"></script>
  </body>
</html>
