<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href=<%= avatar %>>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>kokonut - Projects</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <a href="/"><img src=<%= avatar %> class="logo" alt="logo" width="50" height="50"></a>
        <a href="/"><i class="fa-solid fa-house-user fa-2x"></i></a>
        <a href="/about"><i class="fa-solid fa-user fa-2x"></i></a>
        <a href="/projects"><i class="fa-solid fa-book fa-2x"></i></a>
        <a href="/proficiencies"><i class="fa-solid fa-chart-column fa-2x"></i></a>
        <a href="/socials"><i class="fa-solid fa-share-nodes fa-2x"></i></a>
      </div>
    </nav>
  
    <div class="content">
      <div>
        <h1>Projects</h1>
        <!-- add boxes with projects inside, use animations -->
      </div>
    </div>
  </body>
</html>
