<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href=<%= avatar %>>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>kokonut - Socials</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <a href="/" title="Home"><img src=<%= avatar %> class="logo" alt="logo" width="50" height="50"></a>
        <a href="/" title="Home"><i class="fa-solid fa-house-user fa-2x"></i></a>
        <a href="/about" title="About"><i class="fa-solid fa-user fa-2x"></i></a>
        <a href="/projects" title="Projects"><i class="fa-solid fa-book fa-2x"></i></a>
        <a href="/proficiencies" title="Proficiencies"><i class="fa-solid fa-chart-column fa-2x"></i></a>
        <a href="/socials" title="Socials"><i class="fa-solid fa-share-nodes fa-2x"></i></a>
      </div>
    </nav>
    
    <div class="content">
      <div class="socials-page">
        <h1>Socials</h1>
        
        <div>
          <p>Want to contact me? Well here I am!</p>
        </div>
        <div class="socials-icons">
          <div class="icon">
            <a href="https://replit.com/@JBloves27/"><img src="/replit.png" class="replit-logo" id="social" width="88" height="88"></a> <!-- 3em size -->
          </div>
          <div class="icon">
            <a href="https://github.com/kokonut27/"><i class="fa-brands fa-github fa-3x" id="social"></i></a>
          </div>
          <div class="icon">
            <a href="mailto:beol0127@gmail.com"><i class="fa-solid fa-envelope fa-3x" id="social"></i></a>
          </div>
          <div class="icon">
            <a href="https://discord.com/users/921548675119992852"><i class="fa-brands fa-discord fa-3x" id="social"></i></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
