@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

:root {
	--transition-speed: 0.2s;
}

.light-theme {
	--background-primary: #fcfcfc;
	--background-secondary: #E2E2E2;
	
	--accent-primary: #3123cd;
	--accent-primary-hover: #6861cc;

	--text-primary: #000;
	--text-primary-hover: #2c2a2a;
	--text-secondary: #565959;

	--transparent: #fcfcfc8a;
	--more-transparent: #fcfcfcf2;
}

.dark-theme {
	--background-primary: #121212;
	--background-secondary: #363636;
	
	--accent-primary: #97A8FF;
	--accent-primary-hover: #6677cc;

	--text-primary: #FCFCFC;
	--text-primary-hover: #dedede;
	--text-secondary: #E1E1E1;

	--transparent: #000000cc;
	--more-transparent: #000000f2;
}

* {
  transition: background var(--transition-speed), color var(--transition-speed);
}

a {
  text-decoration: none;
  color: var(--text-secondary);
}

a:hover {
  text-decoration: underline;
}

html, body {
  text-align: center;
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background: var(--background-primary);
	height: 100%;
	color: var(--text-secondary);
}

div.main {
  padding: 2em;
  position: relative;
}

.hi:hover {
  text-decoration: none;
}

.title {
  font-family: 'Mochiy Pop P One', sans-serif;
}

.connections a {
  text-decoration: none;
  color: var(--accent-primary);
}

.connections i {
  transition: transform 1.75s ease-in-out;
}

.connections img {
  transition: transform 1.75s ease-in-out;
}

.connections i:hover {
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -o-transform: rotate(720deg);
}

.connections img:hover {
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -o-transform: rotate(720deg);
}

.main #projects #project {
  border-radius: 0.25em;
  /*
  background-color: #dcdee0;
  color: #3f4245;
  */
  width: 35em;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .main #projects #project {
    width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .main #projects #project {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .main #projects #project {
    width: 65%;
  }
}

.main #projects #project a#link {
  padding: 0.45em;
  border-radius: 0.25em;
  /*
  background-color: #c1c3c7;
  color: #3f4245;
  */
  opacity: 0.8;
  transition: 1s;
  display: inline-block;
}

.main #projects #project a#link:hover {
  opacity: 1;
}

.main {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main #projects {
  opacity: 0;
}

/*
.main .about {
  opacity: 0;
}
*/

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.main #projects.animate {
  animation: fade-in 1s forwards;
}

.main .about.animate {
  animation: fade-in 1s forwards;
}

.main .navbar {
  display: flex;
  justify-content: space-between;
}

.theme {
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: transform 1s;
}

.theme:hover {
	transform: rotate(360deg);
}

.theme[name="sunny"]:hover {
	color: yellow;
}

.theme[name="moon"]:hover {
	color: black;
}

/*
.inside-about {
  display: inline;
}
*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.inside-about.space-around {
  justify-content: space-around;
}

.footer {
  bottom: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background: #333;
  /* border-radius: 10px; */
}