@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

div.main {
  padding: 2em;
  position: relative;
}

.hi:hover {
  text-decoration: none;
}

.title {
  font-family: 'Mochiy Pop P One', sans-serif;
}

.connections a {
  text-decoration: none;
  color: #333;
}

.connections i {
  transition: transform 1.75s ease-in-out;
}

.connections img {
  transition: transform 1.75s ease-in-out;
}

.connections i:hover {
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -o-transform: rotate(720deg);
}

.connections img:hover {
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -o-transform: rotate(720deg);
}

.main #projects #project {
  border-radius: 0.25em;
  background-color: #dcdee0;
  color: #3f4245;
  width: 35em;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .main #projects #project {
    width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .main #projects #project {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .main #projects #project {
    width: 65%;
  }
}

.main #projects #project a#link {
  padding: 0.45em;
  border-radius: 0.25em;
  background-color: #c1c3c7;
  color: #3f4245;
  opacity: 0.8;
  transition: 1s;
  display: inline-block;
}

.main #projects #project a#link:hover {
  opacity: 1;
}

.main {
    /* margin-top: 25px; */
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.main #projects {
  opacity: 0;
}

@keyframes project-fade-in {
  100% {
    opacity: 1;
  }
}

.main #projects.animate {
  animation: project-fade-in .5s forwards;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background: #333;
  /* border-radius: 10px; */
}