@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body, html {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.content {
  padding: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
