@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  
}

.content {
  padding: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}

a:hover { cursor: pointer; }

nav {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #333;
  padding: 10px;
  height: 100%;
  width: 15vw;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #333;
  padding: 10px;
  height: 100%;
  width: 15vw;
}

.nav-links {
  list-style: none;
  display: flex;
  position: relative;
}

