@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background: #111;
  color: #FFF;
}

.content {
  text-align: left;
  padding: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-size: 150%;
  margin-left: 200px;
}

.main-content {
  padding: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-size: 150%;
}

.mainpage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}

a:hover { cursor: pointer; }

.logo {
  border-radius: 50%;
}

.navbar {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100px;
  background-color: #333;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar a {
  display: block;
  color: #FFF;
  padding: 10px;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .navbar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .navbar a {float: left;}
  .content {
    margin-left: 0;
    font-size: 100%;
  }
  .main-content {
    margin-left: 0;
    font-size: 100%;
  }
  .replit-logo {width: 64px; height: 64px;}
}

@media screen and (max-width: 400px) {
  .navbar a {
    text-align: center;
    float: none;
  }

  .logo {
    float: center;
  }

  .icon .fa-brands, .icon .fa-solid {font-size: 34px;}
  .replit-logo {width: 50px; height: 50px;}
}

.socials-icons { 
  display: inline-block;  
  padding-top: 2em;
}

#social {
  border: 3px solid #333;
  background: #555;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  transition: 0.3s;
}

#social:hover {transform: rotate(-45deg);}

.github-logo:hover {color: #000;}
.discord-logo:hover {color: #5865F2;}
.email-logo:hover {color: #d45c20;}
.server-logo:hover {color: #4ca4fc;}

.socials-icons img, .socials-icons i {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  display: inline;
  padding-right: 15px;
  padding-bottom: 15px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.project {
  display: flex;
  justify-content: center;
  font-size: 130%;
  min-height: 40vh;
  max-height: 70vh;
  min-width: 40vw;
  max-width: 55vw;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: #222;
  box-shadow: 0px 8px 16px 0px #000;
  border-radius: 7.5px;
  transition: 0.5s;
}
.project:hover { box-shadow: 0px 8px 16px 0px #333; }

.project-padding {
  padding-bottom: 30px;
}

.project-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-title {
  padding: 10px;
}

.project-title h2 {
  display: inline;
}

.project-text {
  padding: 30px;
}

.button {
  display: flex;
  padding: 10px;
}

.project-button {
  padding: 13px;
  background: #333;
  border-radius: 5px;
  color: #FFF;
  border: 1px solid #333;
  transition: 0.2s;
}

.project-button:hover { 
  cursor: pointer; 
  transform: translate(0, 5%);
}


footer {
  padding: 10px;
  text-align: right;
}

.footer a:hover {
  transition: 0.5s;
  text-decoration: underline;
}