<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>kokonut27</title>
    <!--
      <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}">
    -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

    <style>
      img {
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <h1>kokonut27</h1>
    <div class="main">
      <p>I'm a teenager coder hobbyist that likes to code API packages, python-based languages, code fun programs, and experiment with js libraries. My main tools that I use are <a href="https://python.org">Python3</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML5</a>, and <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>.</p>
      
      <span class="connect">
        <a href="mailto:beol0127@gmail.com"><i class="fas fa-envelope fa-lg"></i></a>
        <a href="https://discord.com/users/921548675119992852"><i class="fab fa-discord fa-lg"></i></a>
        <a href="https://replit.com/@JBloves27"><img src="{{ url_for('static', filename='replit2.png' )}}" width="30" height="30"/></a>
        <a href="https://github.com/kokonut27/"><i class="fab fa-github fa-lg"></i></a>
      </span>
    </div>

    <br>

    <footer>
      <h6>By the way, I decided against making a really hard and cool profile website and decided rather on a simple, nice looking website :)</h6>
    </footer>
    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
