<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>kokonut27</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
    <style>
      img.replit {
        vertical-align: middle;
      }
    </style>
  </head>
  <body onload="checkTheme();">
    <div class="main">
      <div class="navbar">
        <span>
          <a href="https://jbloves27.repl.co" class="hi"><img width="40" height="40" style="display: flex; float: left;" src="{{ url_for('static', filename='favicon.png') }}" alt="jbloves27 profile icon"></a>
        </span>

        <span>
          <a onclick="changeTheme();" class="theme"><i class="fas fa-moon"></i></a>
        </span>
      </div>
      
      <a href="https://JBloves27.repl.co" class="hi"><h1 style="display: inline-block;" class="title">kokonut27</h1></a>
      <br></br>
      <div class="about" style="display: inline">
        <div class="inside-about" style="display: flex; justify-content: space-between;">
          <h2 style="padding: 1em;">About me</h2>
          <h4 style="padding: 1em;">I'm a teenager coder hobbyist that likes to code API packages, python-based languages, code fun programs, and experiment with js libraries.</h4>
        </div>
        <br>
        <div class="inside-about" style="display: flex; justify-content: initial;">
          <h2 style="padding: 1em;">Tools</h2>
          <h4 style="padding: 1em;">My main tools that I use are <a href="https://python.org">Python3</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML5</a>, and <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>.</h4>
        </div>
        <br>
        <div class="inside-about" style="display: flex;">
          <h2 style="padding: 1em;">Learning</h2>
          <h4 style="padding: 1em;">I'm currently self-teaching myself quantum mechanics and physics, chemistry, C++, and how to edit videos.</h4>
        </div>
      </div>

      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>

      <div id="projects">
        <div id="project">
          <h2>kokonut27</h2>
          <h4>My website that contains my information and projects.</h4>
          <br></br>
          <br>
          <a id="link" href="https://github.com/kokonut27/kokonut27">
            GitHub
          </a>
          <a id="link" href="https://jbloves27.repl.co">
            Website
          </a>
          <br></br>
        </div>

        <br></br>
        
        <div id="project">
          <h2>Git_API</h2>
          <h4>A Python3 API package coded to return GitHub stats as JSON data.</h4>
          <br></br>
          <br>
          <a id="link" href="https://github.com/kokonut27/Git-API">
            GitHub
          </a>
          <a id="link" href="https://replit.com/@JBloves27/GitAPI">
            Replit
          </a>
          <br></br>
        </div>

        <br></br>

        <div id="project">
          <h2>z^2</h2>
          <h4>A complex language with high level programming and moderate syntax.</h4>
          <br></br>
          <br>
          <a id="link" href="https://github.com/kokonut27/zsq">
            GitHub
          </a>
          <a id="link" href="https://replit.com/@JBloves27/zsq">
            Replit
          </a>
          <br></br>
        </div>

        
      </div>

      <br></br>
      <br></br>
      
      <span class="connect">
        <div class="connections">
          <a href="mailto:beol0127@gmail.com"><i class="fas fa-envelope fa-lg"></i></a>
          <a href="https://discord.com/users/921548675119992852"><i class="fab fa-discord fa-lg"></i></a>
          <a href="https://replit.com/@JBloves27"><img class="replit" src="{{ url_for('static', filename='replit2.png' )}}" width="30" height="30"/></a>
          <a href="https://github.com/kokonut27/"><i class="fab fa-github fa-lg"></i></a>
        </div>
      </span>

      <footer class="footer">
        <span>
          <h6>&copy Copyright <a href="https://github.com/kokonut27">kokonut27</a></h6>
        </span>
      </footer>
    </div>
    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
$(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 500, function(){
        window.location.hash = hash;
      });
    };
  });
});
    </script>
  </body>
</html>
